<div data-role="page" id="sp-event-index">
  <div data-role="header">
    <h1><%= current_service_provider.organization.name %>: Events</h1>
    <%= link_to "New", new_service_provider_event_path, "data-icon" => "plus", "data-ajax" => "false", class: "ui-btn-right"%>
  </div>
  <div data-role="content">
    <ul data-role="listview" data-filter="true" data-inset="true" data-autodividers="true" id="event-list">
      <% @events.each do |event| %>
        <%= content_tag :li, data: { date: format_date(event) } do %>
          <%= link_to event_type_image_tag(event.event_type) + event.name + " - " + format_time(event), service_provider_event_path(event), data: { ajax: false } %>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div data-role="footer" data-position="fixed" data-tap-toggle="false" class="jqm-footer">
    <%= render "shared/navbar" %>
  </div>
</div>
