<%= form_for @student, url: student_path, html: { "data-ajax" => false } do |f| %>
  <% if @student.errors.any? %>
    <div class="error">
      <p><%= pluralize(@student.errors.count, "error") %> prevented your profile from being saved:</p>
      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.fields_for :user do |u| %>
    <%= u.label :email %>
    <%= u.text_field :email %>
    <%= u.label :phone %>
    <%= u.text_field :phone %>
    <%= u.label :password %>
    <%= u.password_field :password %>
    <%= u.label :password_confirmation %>
    <%= u.password_field :password_confirmation %>
    <%= u.hidden_field :time_zone %>
    <script>
    $('#user_time_zone').val(getTimeZone())
    </script>
  <% end %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label "School" %>
  <%= collection_select(:student, :school_id, School.all.order(:name), :id, :name) %>
  <%= f.hidden_field :nudges_enabled, value: false %>
  <%= f.check_box :nudges_enabled, { checked: @student.nudges_enabled != false }, true, false %>
  <%= f.label :nudges_enabled, "Allow other users to send me text message notifications" %>
  <% if @student.new_record? %>
    <%= f.fields_for :user do |u| %>
      <%= u.check_box :tos_accepted %>
      <%= u.label :tos_accepted, "I have read and accept the ".html_safe + link_to('Terms of Service and Privacy Policy', tos_path, target: "_blank") %>
    <% end %>
  <% end %>
  <%= f.submit "Submit" %>
<% end %>
