<!DOCTYPE html>
<html>
  <head>
  <title>My Page</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="login.css">

<div data-role="page">

  <div data-role="header" data-theme="b">
    <h1>Welcome</h1>
  </div><!-- /header -->
  <div id = "login_error" class = "error_message">
    <%= flash[:notice] if flash[:notice] %>
  </div>
  <div id="form">
  <%= form_for :user, url: '/login', html: {id: "login_form"} do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Log in", :class => "button" %>
  <% end %>
  <%= link_to 'Register', register_path, class: 'centered' %>
  </div>

  <!-- footer navigator -->
  <div data-role="footer" id="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><a href="a.html">Info</a></li>
      <li><a href="b.html">Friends</a></li>
      <li><a href="c.html">Albums</a></li>
      <li><a href="d.html">Emails</a></li>
    </ul>
  </div><!-- /navbar -->
</div><!-- /footer -->

</div><!-- /page -->

</body>
</html>
