<!DOCTYPE html>
<html>
  <head>
  <title>My Page</title>
  <link rel="stylesheet" type="text/css" href="new.css">
</head>
<body>


<div data-role="page">

  <div data-role="header">
    <h1>Welcome Index</h1>
  </div><!-- /header -->
      <% if flash[:reg_errors] %>
    <div id = "notices" class="error">
        <ul>
          <% flash[:reg_errors].each do |e|%>
            <li><%= e %></li>
          <%end%>
        </ul>
    </div>
      <%end%>
  <%= form_for @user, url: { action: "create" } do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :phone %>
  <%= f.text_field :phone %>
  <%= f.label "School" %>
  <%= collection_select(:user, :school_id, School.all, :id, :name) %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <%= f.label :parent_password %>
  <%= f.password_field :parent_password %>
  <%= f.label :parent_password_confirmation %>
  <%= f.password_field :parent_password_confirmation %>
  <%= f.submit %>
  <% end %>
  <!-- footer navigator -->
  <div data-role="footer" data-id="foo1" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Back', :back %></li>
        <li><a href="/dashboard.html">Home</a></li>
        <li><%= link_to("Logout", logout_path, :method => :delete) %></li>
    </ul>
  </div><!-- /navbar -->
</div><!-- /footer -->

</div><!-- /page -->

</body>
</html>
