<!DOCTYPE html>
<html>
  <head>
  <title>My Page</title>
</head>
<body>


<div data-role="page">

  <div data-role="header">
    <h1>Welcome Index</h1>
  </div><!-- /header -->
    <div id = "notices">
      <% if flash[:reg_errors] %>
        <ul>
          <% flash[:reg_errors].each do |e|%>
            <li><%= e %></li>
          <%end%>
        </ul>
      <%end%>
    </div>
  <%= form_for @user, url: { action: "create" } do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :phone %>
  <%= f.text_field :phone %>
  <%= f.label "School" %>
  <%= collection_select(:user, :school_id, School.all, :id, :name) %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit %>
  <% end %>
  <!-- footer navigator -->
  <div data-role="footer" data-id="foo1" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><a href="login/login">Login</a></li>
      <li><a href="b.html">Friends</a></li>
      <li><a href="c.html">Albums</a></li>
      <li><a href="d.html">Emails</a></li>
    </ul>
  </div><!-- /navbar -->
</div><!-- /footer -->

</div><!-- /page -->

</body>
</html>
