<!DOCTYPE html> 
<html> 
  <head> 
  <title>My Page</title> 
</head>
<body>


<div data-role="page">

  <div data-role="header">
    <h1>Weclome Index</h1>
  </div><!-- /header -->
    <div id = "notices">
      <% if flash[:reg_errors]%>
        <p>
          <%flash[:reg_errors].each do |e|%>
            <div><%= e %></div>
          <%end%>
        </p>
      <%end%>
    </div>
    <form method = "POST" action = "">
    Email: <input type = "text" name = "email" value="<%=@ruser['email'] if @ruser%>"/>
    Username: <input type = "text" name = "username" value="<%=@ruser['username'] if @ruser%>"/>
    Phone: <input type = "text" name = "phone" placeholder = "123-456-7890" value="<%=@ruser['phone'] if @ruser%>"/>
    <select name = "school">
    <%@schools.each do |s|%>
      <option value ="<%= s.id %>" <%="selected = 'selected'" if (@ruser and s.id == @ruser["school_id"].to_i)%> ><%= s.name %> </option>
    <%end%>
    </select>
    Password: <input type="password" name = "password" id="password" />
    Password Confirmation: <input type="password" name = "passwordConf" id="password-conf" />
    <input type = "submit" value = "Register" />
  </form>
  <!-- footer navigator -->
  <div data-role="footer" data-id="foo1" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><%= link_to("Logout", logout_path, :method => :delete) %></li>
      <li><a href="b.html">Friends</a></li>
      <li><a href="c.html">Albums</a></li>
      <li><a href="d.html">Emails</a></li>
    </ul>
  </div><!-- /navbar -->
</div><!-- /footer -->

</div><!-- /page -->

</body>
</html>
