<!DOCTYPE html>
<html>
  <head>
  <title>Dashboard</title>
</head>
<body>


<div data-role="page">

  <div data-role="header">
    <h1>Dashboard</h1>
  </div><!-- /header -->
   <div id = "notice" class = "notice">
    <%= flash[:notice] if flash[:notice] %>
  </div>
  <div data-role="collapsible-set">
    <div data-role="collapsible" data-collapsed="false">
      <h4>My Events</h4>
        <ul data-role="listview">
          <% @user_events.each do |e| %>
          <li><a href="<%="/events/#{e.id}"%>"><%=e.name%></a></li>
          <%end%>
          <%= "You have no events, slacker" unless @user_events.length > 0 %>
      </ul>
    </div>

    <div data-role="collapsible" data-collapsed="false">
      <h4>Trending</h4>
        <ul data-role="listview">
          <li><a href="/events/1"><%=Event.find(1).name%></a></li>
          <li><a href="/events/2"><%=Event.find(2).name%></a></li>
          <li><a href="/events/3"><%=Event.find(3).name%></a></li>
      </ul>
    </div>

    <div data-role="collapsible" data-collapsed="false">
      <h4>Find Events</h4>
        <ul data-role="listview">
          <li><a href="/events", data-ajax="false">Today</a></li>
          <li><a href="/events", data-ajax="false">Tomorrow</a></li>
          <li><a href="/events", data-ajax="false">This Week</a></li>
      </ul>
    </div>
    <a href = "/mynudges" id = "nudges-link">My Nudges</a>
  </div>

  <!-- footer navigator -->
  <div data-role="footer" data-id="foo1" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="login/login">Login</a></li>
        <li><a href="b.html">Friends</a></li>
        <li><a href="c.html">Albums</a></li>
        <li><a href="d.html">Emails</a></li>
      </ul>
    </div><!-- /navbar -->
  </div><!-- /footer -->

</div><!-- /page -->

</body>
</html>