<!DOCTYPE html>
<html>
  <head>
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="dashboard.css">
</head>
<body>
<div data-role="page" id="dashboard">
  <div data-role="header">
    <h1>Dashboard</h1>
  </div><!-- /header -->
   <div id = "notice" class = "notice">
    <%= flash[:notice] if flash[:notice] %>
  </div>
  <div data-role="collapsible-set">
    <div data-role="collapsible" data-collapsed="false">
      <h4>My Events</h4>
        <ul data-role="listview">
          <% @user_events.each do |a| %>
            <li><a href="<%="/events/#{a.event.id}"%>"><%="#{a.event.name}\tAttendance Status: #{a.commitment_status}"%></a></li>
          <%end%>
          <%= "You have no events, slacker" unless @user_events.length > 0 %>
      </ul>
    </div>

    <div data-role="collapsible" data-collapsed="false">
      <h4>Trending</h4>
        <ul data-role="listview">
          <% @hot_events_num.times do |i|%>
            <li><a href="/events/<%=@events_arr[i][0].id%>"><%=@events_arr[i][0].name%>: <%=@events_arr[i][1]%> people from your school</a></li>
          <%end%>
      </ul>
    </div>

    <div data-role="collapsible" data-collapsed="false">
      <h4>Find Events</h4>
        <ul data-role="listview">
          <li><a href="#topicList", data-ajax="false">Today</a></li>
          <li><a href="#topicList", data-ajax="false">Tomorrow</a></li>
          <li><a href="#topicList", data-ajax="false">This Week</a></li>
      </ul>
    </div>
    <a href = "/mynudges" id = "nudges-link">My Nudges</a>
  </div>

  <!-- footer navigator -->
  <div data-role="footer" data-id="foo1" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><%= link_to("Logout", logout_path, :method => :delete) %></li>
        <li><a href="b.html">Friends</a></li>
        <li><a href="c.html">Albums</a></li>
        <li><a href="d.html">Emails</a></li>
      </ul>
    </div><!-- /navbar -->
  </div><!-- /footer -->

</div><!-- /page -->






<div data-role="page" id="topicList" data-quicklinks="true">

  <div data-role="header" class="jqm-header">
  <h1>Index</h1>
  <a href="#myPanel" class="ui-btn ui-shadow ui-corner-all ui-icon-bars ui-btn-icon-notext"></a>
  </div><!-- /header -->

  <div role="main" class="ui-content jqm-content">

    <<ul data-role="listview" type="a" id="options">
      <li></li>
    </ul>

  </div><!-- /panel -->

  <div data-role="header" data-theme="a">
       <h1>Events</h1>
  </div>
    <!-- /header -->

  <div data-role="content">
      <ul data-role="listview" data-inset="true" id="event-list" data-autodividers="true" data-filter="true" data-filter-placeholder="Search events..."></ul>
  </div> <!-- /content -->

  <div data-role="footer" data-position="fixed" data-tap-toggle="false" class="jqm-footer">
    <div data-role="navbar">
      <ul>
        <li><%= link_to("Logout", logout_path, :method => :delete) %></li>
        <li><a href="b.html">Friends</a></li>
        <li><a href="c.html">Albums</a></li>
        <li><a href="d.html">Emails</a></li>
      </ul>
    </div><!-- /navbar -->
  </div><!-- /footer -->



  <!-- Here are a bunch of panels at the end, just before the close page tag  -->

  <!-- leftpanel1  -->
  <div data-role="panel" id="myPanel" data-position="left" data-display="reveal" data-theme="a">

        <h2>Catagories</h2>

      <div>
        <div class="toggle-option" id="football">
          <label class="switch-label" for="flip-3">Football</label>
          <select name="flip-3" id="flip-3" data-role="flipswitch" data-mini="false">
            <option value="off">Off</option>
            <option value="on" selected="selected">On</option>
         </select>
        </div>
        <div class="toggle-option" id="camp">
          <label class="switch-label" for="flip-3">Camp</label>
          <select name="flip-3" id="flip-3" data-role="flipswitch" data-mini="false">
            <option value="off">Off</option>
            <option value="on" selected="selected">On</option>
          </select>
        </div>
        <div class="toggle-option" id="recreational">
          <label class="switch-label" for="flip-3">Recreational</label>
          <select name="flip-3" id="flip-3" data-role="flipswitch" data-mini="false">
            <option value="off">Off</option>
            <option value="on" selected="selected">On</option>
          </select>
        </div>
        <div class="toggle-option" id="basketball">
          <label class="switch-label" for="flip-3">Basketball</label>
          <select name="flip-3" id="flip-3" data-role="flipswitch" data-mini="false">
            <option value="off">Off</option>
            <option value="on" selected="selected">On</option>
          </select>
        </div>
        <div class="toggle-option" id="tennis">
          <label class="switch-label" for="flip-3">Tennis</label>
          <select name="flip-3" id="flip-3" data-role="flipswitch" data-mini="false">
            <option value="off">Off</option>
            <option value="on" selected="selected">On</option>
          </select>
        </div>
        <div class="toggle-option" id="aquatic">
          <label class="switch-label" for="flip-3">Aquatic</label>
          <select name="flip-3" id="flip-3" data-role="flipswitch" data-mini="false">
            <option value="off">Off</option>
            <option value="on" selected="selected">On</option>
          </select>
        </div>
        <div class="toggle-option" id="gymnastics">
          <label class="switch-label" for="flip-3">Gymnastics</label>
          <select name="flip-3" id="flip-3" data-role="flipswitch" data-mini="false">
            <option value="off">Off</option>
            <option value="on" selected="selected">On</option>
          </select>
        </div>
        <div class="toggle-option" id="fitness">
          <label class="switch-label" for="flip-3">Fitness</label>
          <select name="flip-3" id="flip-3" data-role="flipswitch" data-mini="false">
            <option value="off">Off</option>
            <option value="on" selected="selected">On</option>
          </select>
        </div>
        <div class="toggle-option" id="other">
          <label class="switch-label" for="flip-3">Other</label>
          <select name="flip-3" id="flip-3" data-role="flipswitch" data-mini="false">
            <option value="off">Off</option>
            <option value="on" selected="selected">On</option>
          </select>
        </div>

      </div>
  </div><!-- /leftpanel1 -->

<script>

proper_url = window.location.origin.concat("/dashboard")
if (window.location.href != proper_url){
  window.location.replace(proper_url)
}

var eventsJson = null
$.ajax({
  method: "get",
  url: "/events/all",
  dataType: "json",
  success: function(data) {
    eventsJson = data;
    refresh();
  }
})


var footballVal = 'on', campVal = 'on', recreationalVal = 'on', gymnasticsVal = "on", basketballVal = "on", tennisVal = "on", aquaticVal = "on", fitnessVal = "on", otherVal = "on", filteredIds = [];

var eventsType = ['Football', 'Camp', 'Recreational', 'Basketball', 'Gymnastics', 'Tennis', 'Aquatic', 'Fitness', 'Other'];
var filteredEvents = [];
setTimeout(refresh, 1000);
setTimeout(refresh, 3000);
setTimeout(refresh, 2000);
setTimeout(refresh, 2000);

// refresh()
// var fixedJson = JSON.parse(originalJson);
// var eventsJson = originalJson.events;

//football
$('#football').change(function(){
  if(footballVal==('on')) {
    for(var i = 0; i < eventsType.length; i++){
      if (eventsType[i] === "Football") {
        eventsType.splice(i, 1);
      }
    }
    footballVal = 'off'
  } else {
    eventsType.push("Football");
    footballVal = 'on'
  }
  refresh();
});

//camp
$('#camp').change(function(){
  if(campVal==('on')) {
    for(var i = 0; i < eventsType.length; i++){
      if (eventsType[i] === "Camp") {
        eventsType.splice(i, 1);
      }
    }
    campVal = 'off'
  } else {
    eventsType.push("Camp");
    campVal = 'on'
  }
  refresh();
});

//recreational
$('#recreational').change(function(){
  if(recreationalVal==('on')) {
    for(var i = 0; i < eventsType.length; i++){
      if (eventsType[i] === "Recreational") {
        eventsType.splice(i, 1);
      }
    }
    recreationalVal = 'off'
  } else {
    eventsType.push("Recreational");
    recreationalVal = 'on'
  }
  refresh();
});

//basketball
$('#basketball').change(function(){
  if(basketballVal==('on')) {
    for(var i = 0; i < eventsType.length; i++){
      if (eventsType[i] === "Basketball") {
        eventsType.splice(i, 1);
      }
    }
    basketballVal = 'off'
  } else {
    eventsType.push("Basketball");
    basketballVal = 'on'
  }
  refresh();
});

//tennis
$('#tennis').change(function(){
  if(tennisVal==('on')) {
    for(var i = 0; i < eventsType.length; i++){
      if (eventsType[i] === "Tennis") {
        eventsType.splice(i, 1);
      }
    }
    tennisVal = 'off'
  } else {
    eventsType.push("Tennis");
    tennisVal = 'on'
  }
  refresh();
});

//aquatic
$('#aquatic').change(function(){
  if(aquaticVal==('on')) {
    for(var i = 0; i < eventsType.length; i++){
      if (eventsType[i] === "Aquatic") {
        eventsType.splice(i, 1);
      }
    }
    aquaticVal = 'off'
  } else {
    eventsType.push("Aquatic");
    aquaticVal = 'on'
  }
  refresh();
});

//gymnastics
$('#gymnastics').change(function(){
  if(gymnasticsVal==('on')) {
    for(var i = 0; i < eventsType.length; i++){
      if (eventsType[i] === "Gymnastics") {
        eventsType.splice(i, 1);
      }
    }
    gymnasticsVal = 'off'
  } else {
    eventsType.push("Gymnastics");
    gymnasticsVal = 'on'
  }
  refresh();
});

//fitness
$('#fitness').change(function(){
  if(fitnessVal==('on')) {
    for(var i = 0; i < eventsType.length; i++){
      if (eventsType[i] === "Fitness") {
        eventsType.splice(i, 1);
      }
    }
    fitnessVal = 'off'
  } else {
    eventsType.push("Fitness");
    fitnessVal = 'on'
  }
  refresh();
});

//other
$('#other').change(function(){
  if(otherVal==('on')) {
    for(var i = 0; i < eventsType.length; i++){
      if (eventsType[i] === "Other") {
        eventsType.splice(i, 1);
      }
    }
    otherVal = 'off'
  } else {
    eventsType.push("Other");
    otherVal = 'on'
  }
  refresh();
});

function refresh() {
  filteredEvents = [];
  for (var i = 0; i < eventsType.length; i++)
    {
      for (var j = 0; j < eventsJson.length; j++)
      {
        if (eventsType[i] === eventsJson[j].event_type)
        {
          filteredEvents.push(eventsJson[j].name);
          filteredIds.push(eventsJson[j].id);
        }
      }
    }

    filteredEvents.sort();

    var output = '';
    $.each(filteredEvents, function (index, value) {
      output += '<li><a href="events/' + filteredIds[index] + '">' + value + '</a></li>';
    });
    $('#event-list').html(output).listview().listview("refresh");
}
</script>

</div><!-- /page -->
</body>

</html>
