<style>
  .ui-page, body {
    background-position-x: -150px;
    background-size: 500px;
    background-image: url(<%= asset_path 'login_background.jpg' %>);
    background-attachment: fixed;
  }
</style>
<div data-role="page" data-quicklinks="true">

  <div data-role="header" class="jqm-header">
    <h1>Events</h1>
    <a href="#event-type-toggles" class="ui-btn ui-shadow ui-corner-all ui-icon-bars ui-btn-icon-notext"></a>
  </div>

  <div data-role="content">
    <ul data-role="listview" data-filter="true" data-inset="true" id="event-list">
      <% @events.each do |event| %>
        <%= content_tag :li, class: event.event_type do %>
          <%= link_to event_type_image_tag(event.event_type) + event.name, event_path(event), data: { ajax: false } %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div data-role="footer" data-position="fixed" data-tap-toggle="false" class="jqm-footer">
   <%= render "shared/navbar" %>
  </div>

  <div data-role="panel" id="event-type-toggles" data-position="left" data-display="reveal" data-theme="a">

    <div class="toggle_categories">
      <a href="#" class="select_all" onclick="checkAllCategories(true)">Check All</a>
      <a href="#" class="deselect_all" onclick="checkAllCategories(false)">Uncheck All</a>
    </div>

    <h2>Categories</h2>
    <fieldset>
      <% Event::TYPES.each do |event_type| %>
        <div data-role="fieldcontain">
          <%= form_tag do %>
            <%= label_tag event_type, event_type, class: "switch-label" %>
            <%= check_box_tag event_type, "on", true, "data-role" => "flipswitch"%>
          <% end %>
        </div>
      <% end %>
    </fieldset>
  </div>
</div>
