<!DOCTYPE html>
<html>
  <head>
  <title>@event.name</title>
  <script src="/assets/events.js"></script>
<link rel="stylesheet" type="text/css" href="show.css">
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_api_key %>"></script>
<script>
arriveaddr = "<%=@event.address + ' Chicago, IL' %>"
user = false
<% if current_user and current_user.verified? %>
  leaveaddr = "<%=current_user.school.address + ' Chicago, IL' %>"
  arrivetime = new Date("<%=@event.start_date_and_time %>")
  user = true
<% end %>
event_show()
</script>
</head>
<body>

<div data-role="page">
  <div id="body">
    <div class="align-left-padding" id = "name">
      <%= @event.name %>
    </div>
    <div class="pictures">
      <img src="https://703776390ca6a57878ac07d8581c71c708895809.googledrive.com/host/0B-EZWDUirQ46fjQtUzN1VG80eWdzdERtYjMzcTg3S19VeGlWR3FfUGJpOEFEZmtVQmh4SFk/Assets/demo_event_pic.jpg" class="default_image"/>
    </div>
    <% if current_user and current_user.verified? %>
    <% if @in_nudge %>
           <div class="notice">
           <%= "You have been nudged by #{@in_nudge.nudger.username}" %>
           <button>Let's Go (dummy)</button>
           <button>Let's Not (dummy)</button>
           </div>
         <% elsif @out_nudge %>
           <div class="notice">
           <%= "You have nudged #{@out_nudge.nudgee.username} and response is pending" %>
           </div>
         <% elsif !@attend %>
           <div class="align-left" id="buttons">
             <%= form_tag(new_event_attendance_path(@event), method: "get", "data-ajax" => "false") do %>
               <%= submit_tag("Join") %>
             <% end %>
             <%= form_tag(event_attendances_path(@event), method: "post") do %>
               <%= hidden_field_tag(:commitment_status, "Maybe") %>
               <%= submit_tag("Watch") %>
             <% end %>
             <form method="GET" action="/events/<%=params[:id]%>/nudge">
               <input type="submit" id="igiyg" value="Nudge"></input>
             </form>
           </div>
         <% elsif @attend.commitment_status == "Yes"%>
           <%= form_tag(event_attendance_path(@event, @attend), method: "delete") do %>
             <%= submit_tag("Back Out") %>
           <% end %>
           <div class="notice" id = "status">
           You are going to this event
           </div>
       <% elsif @attend.commitment_status == "No"%>
         <%= form_tag(edit_event_attendance_path(@event, @attend), method: "get", "data-ajax" => "false") do %>
           <%= submit_tag("Commit") %>
         <% end %>
         <div class="notice" id = "status">
         You backed out of this event
         </div>
     <% else %>
       <%= form_tag(edit_event_attendance_path(@event, @attend), method: "get", "data-ajax" => "false") do %>
         <%= submit_tag("Join") %>
       <% end %>
       <%= form_tag(event_attendance_path(@event, @attend), method: "delete") do %>
         <%= submit_tag("Back Out") %>
         <div class="notice" id = "status">
       You might be going to this event
       </div>
     <% end %>
   </form>
 <% end %>
 <%end%>
    <div class="align-left">
    <p><%="Description: " + @event.description %></p>
    </div>
    <h2 class="align-left no-bottom-margin">Location</h2>
    <hr class="align-left">
    <h4 class="align-left no-bottom-margin"><%=@event.address %></h4>
    <div class="align-left"><%=@event.start_date_and_time.strftime("%A, %B %d, %Y %l%p") + " to " + (@event.start_date_and_time+@event.duration.hours).strftime("%l%p")%></div>
    </div>
    <hr class="align-left">
    <%if current_user and  current_user.verified?%>
          <% user_school = current_user.school %>
          <div class="align-left">
          <%="Number attending from your school: " + @event.attendees.where(school: user_school).length.to_s %>
          </div>
          <div class="align-left" id = "travel_times">
          <div id = "TRANSIT"></div>
          <div id = "BICYCLING"></div>
          <div id = "WALKING"></div>
          </div>
     <% else %>
    <div id = "login">
      Login or register to join this event
        <%= render "session/login" %>
    </div>
    <%end%>
          <%if @attend %>
           <a href ="<%="#{params[:id]}/attendances/#{@attend.id}"%>" class="align-left" data-ajax="false">Show Directions</a>
           <%end%>
       <br>
       <div id="map-canvas">
       </div>

  </div><!-- body -->

  <!-- footer navigator -->
  <div data-role="footer" data-id="foo1" data-position="fixed">
  <div data-role="navbar">
    <ul>
        <li><%= link_to 'Back', :back %></li>
        <li><a href="/dashboard.html">Home</a></li>
        <li><%= link_to("Logout", logout_path, :method => :delete) %></li>
    </ul>
  </div><!-- /navbar -->
</div><!-- /footer -->

</div><!-- /page -->

</body>
</html>
