<!DOCTYPE html>
<html>
  <head>
  <title>@event.name</title>
  <script src="/assets/events.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_api_key %>"></script>
<script>
  arriveLocation = JSON.parse('<%=@event.location.to_json.html_safe%>')
  user = false
  <% if current_user and current_user.verified? %>
    arrivetime = new Date(<%=@event.start_date_and_time.to_i * 1000 %>)
    user = true
  <% end %>
  event_show()
</script>
</head>
<body>

<div data-role="page">
  <div id="body">
    <div class="align-left-padding" id = "name">
      <%= @event.name %>
    </div>
    <div class="pictures">
      <img src="https://703776390ca6a57878ac07d8581c71c708895809.googledrive.com/host/0B-EZWDUirQ46fjQtUzN1VG80eWdzdERtYjMzcTg3S19VeGlWR3FfUGJpOEFEZmtVQmh4SFk/Assets/Events/event<%=@rand_image_number%>.jpg" class="default_image"/>
    </div>
    <% if current_user and current_user.verified? %>
    <% if @in_nudge && !session[:is_parent?] %>
      <div class="notice">
        <%= "You have been nudged by #{@in_nudge.nudger.username}" %>
        <button>Accept Nudge (Inactive)</button>
        <button>Decline Nudge (Inactive)</button>
      </div>
    <% elsif @out_nudge && !session[:is_parent?]%>
      <div class="notice">
        <%= "You have nudged #{@out_nudge.nudgee.username} and response is pending" %>
      </div>
    <% end %>
    <div class="align-left" id="buttons">
      <% unless (@attend && @attend.commitment_status == "Yes") || session[:is_parent?] %>
        <%= form_tag(new_event_attendance_path(@event), method: "get", "data-ajax" => "false") do %>
          <%= submit_tag("Join") %>
        <% end %>
      <% end %>
      <% unless @attend && ["Yes", "Maybe"].include?(@attend.commitment_status) %>
        <%= form_tag(event_attendances_path(@event), method: "post", "data-ajax" => "false") do %>
          <%= hidden_field_tag(:commitment_status, "Maybe") %>
          <%= submit_tag("Watch") %>
        <% end %>
      <% end %>
      <% if @attend && @attend.commitment_status == "Yes"  && !session[:is_parent?]%>
        <%= form_tag(event_attendance_path(@event, @attend), method: "delete", "data-ajax" => "false") do %>
          <%= submit_tag("Back Out") %>
        <% end %>
      <% end %>
      <% unless session[:is_parent?]%>
      <form method="GET" action="/events/<%=params[:id]%>/nudge">
        <input type="submit" id="igiyg" value="Nudge"></input>
      </form>
      <%end%>
    </div>
    <% if @attend %>
      <div class="notice" id="status">
        <%= @attend.description %>
      </div>
    <% end %>
    <% end %>
    <div class="align-left">
    <p><%="Description: " + @event.description %></p>
    </div>
    <h2 class="align-left no-bottom-margin">Location</h2>
    <hr class="align-left">
    <h4 class="align-left no-bottom-margin"><%=@event.location.print_full.gsub(/\n/,"<br />").html_safe %></h4>
    <div class="align-left"><%=@event.start_date_and_time.in_time_zone(get_time_zone).strftime("%A, %B %d, %Y %l:%M%p") + " to " + (@event.start_date_and_time+@event.duration.hours).in_time_zone(get_time_zone).strftime("%l:%M%p")%>
    </div>
    <hr class="align-left">
    <%if current_user and  current_user.verified?%>
          <% user_school = current_user.school %>
          <div class="align-left">
          <%="Number attending from your school: " + @event.attendees.where(school: user_school).length.to_s %>
          </div>
          <div class="align-left" id = "travel_times">
          <div>
          <%= label_tag :leave_loc, "Select a depatrure location to see approximate travel times" %>
          <%= select_tag :leave_loc, options_for_select(current_user.departure_locations_select_array), include_blank: "Select A Location", onchange: "calcTravelTimes()" %>
          </div>
          <div id = "TRANSIT"></div>
          <div id = "BICYCLING"></div>
          <div id = "WALKING"></div>
          </div>
    <% else %>
    <div id="form" class="form-partial-container">
      <p>Login or register to join this event:</p>
      <%= render partial: "shared/login" %>
    </div>
    <%end%>
          <%if @attend && @attend.commitment_status == "Yes" %>
           <a href ="<%="#{params[:id]}/attendances/#{@attend.id}"%>" class="align-left" data-ajax="false" data-role = "button">Show Directions</a>
           <%end%>
       <br>
       <div id="map-canvas">
       </div>

  </div><!-- body -->

  <!-- footer navigator -->
  <div data-role="footer" data-id="foo1" data-position="fixed">
  <%= render "shared/navbar" %>
</div><!-- /footer -->

</div><!-- /page -->

</body>
</html>
