<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_api_key %>"></script>
<script>
  arriveaddr = "<%=@event.address + ' Chicago, IL' %>"
  user = false
  <% if current_student && current_user.verified? && current_student.school.address %>
    leaveaddr = "<%=current_student.school.address + ' Chicago, IL' %>"
    arrivetime = new Date(<%=@event.start_date_and_time.to_i * 1000 %>)
    user = true
  <% end %>
  event_show()
</script>
<div data-role="page">
  <div id="body">
    <div class="align-left-padding" id = "name">
      <%= @event.name %>
    </div>
    <div class="pictures">
      <img src="https://703776390ca6a57878ac07d8581c71c708895809.googledrive.com/host/0B-EZWDUirQ46fjQtUzN1VG80eWdzdERtYjMzcTg3S19VeGlWR3FfUGJpOEFEZmtVQmh4SFk/Assets/Events/event<%=@rand_image_number%>.jpg" class="default_image"/>
    </div>
    <% if flash[:warning] %>
       <div class="warning">
        <%= flash[:warning] %>
      </div>
    <% end %>
    <% if current_student and current_student.verified? %>
      <% if @attend %>
        <div class="notice" id="status">
          <%= @attend.description %>
        </div>
      <% end %>
      <% Nudge.where(event_id: @event.id, nudgee_id: current_student.id).each do |nudge| %>
        <div class="notice">
          <%= "You have been nudged by #{nudge.nudger.username}" %>
          <%= form_tag(nudge, method: :delete, "data-ajax" => "false") do %>
            <%= hidden_field_tag(:accept, true) %>
            <%= submit_tag("Accept") %>
          <% end %>
          <button>Decline Nudge (Inactive)</button>
        </div>
      <% end %>
      <% Nudge.where(event_id: @event.id, nudger_id: current_student.id).each do |nudge| %>
        <div class="notice">
          <%= "You have nudged #{@nudge.nudgee.username} and response is pending" %>
        </div>
      <% end %>
      <div class="align-left" id="buttons">
        <% unless (@attend && @attend.commitment_status == "Yes") %>
          <%= form_tag(new_event_attendance_path(@event), method: "get", "data-ajax" => "false") do %>
            <%= submit_tag("Join") %>
          <% end %>
        <% end %>
        <% unless @attend && ["Yes", "Maybe"].include?(@attend.commitment_status) %>
          <%= form_tag(event_attendances_path(@event), method: "post", "data-ajax" => "false") do %>
            <%= hidden_field_tag(:commitment_status, "Maybe") %>
            <%= submit_tag("Watch") %>
          <% end %>
        <% end %>
        <% if @attend && @attend.commitment_status == "Yes" %>
          <%= form_tag(event_attendance_path(@event, @attend), method: "delete", "data-ajax" => "false") do %>
            <%= submit_tag("Back Out") %>
          <% end %>
        <% end %>
        <% unless session[:is_parent?]%>
        <%= form_tag(new_event_nudge_path(@event), method: "get", "data-ajax" => "false") do %>
          <%= submit_tag("Nudge") %>
        <% end %>
      <% end %>
    </div>
    <% end %>
    <div class="align-left">
      <p><strong>Description: </strong><%= @event.description %></p>
      <% unless @event.minimum_age.blank? %>
        <p><strong>Minimum age: </strong><%= @event.minimum_age %></p>
      <% end %>
    </div>
    <h2 class="align-left no-bottom-margin">Location</h2>
    <hr class="align-left">
    <h4 class="align-left no-bottom-margin"><%=@event.address %></h4>
    <div class="align-left">
      <%=@event.start_date_and_time.in_time_zone(get_time_zone).strftime("%A, %B %d, %Y %l:%M%p") + " to " + (@event.start_date_and_time+@event.duration.hours).in_time_zone(get_time_zone).strftime("%l:%M%p")%>
    </div>
    <hr class="align-left">
    <%if current_student && current_user.verified? %>
      <div class="align-left">
        <!-- Add this again when attendance relation is transferred to Student model -->
        <%= "Number attending from your school: " %>
      </div>
      <div class="align-left" id = "travel_times">
      <div id = "TRANSIT"></div>
      <div id = "BICYCLING"></div>
      <div id = "WALKING"></div>
      </div>
    <% elsif !current_user %>
    <div id="form" class="form-partial-container">
      <p>Login or register to join this event:</p>
      <%= render partial: "shared/login" %>
    </div>
    <%end%>
    <%if @attend && @attend.commitment_status == "Yes" %>
      <%= link_to "Show Directions", event_attendance_path(@event, @attend), class: "align-left", data: { ajax: false, role: "button" } %>
    <%end%>
    <br>
    <div id="map-canvas">
    </div>
  </div><!-- body -->

  <!-- footer navigator -->
  <div data-role="footer" data-id="foo1" data-position="fixed">
    <%= render "shared/navbar" %>
  </div><!-- /footer -->
</div><!-- /page -->
