<!DOCTYPE html>
<html>
  <head>
  <title>Show</title>
</head>
<body>


<div data-role="page">

  <div data-role="header">
    <h1>Show</h1>
  </div><!-- /header -->

  <div>
    <% event = Event.find_by(id: params[:id]) %>
    <%="Location:" + event.address %>
    <%="Date and time:" + event.start_date_and_time.strftime("%A, %B %d, %Y at %l%p") %>
    <%="Description:" + event.description %>
    <%="# attending from your school:" %>
    <% current_user = User.find_by(id: session[:user_id]) %>
    <% user_school = current_user.school.name %>
    <%="Number attending from your school:" event.attendees.where(school: user_school).count %>
  </div><!-- /body -->

  <!-- footer navigator -->
  <div data-role="footer" data-id="foo1" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><a href="login/login">Login</a></li>
      <li><a href="b.html">Friends</a></li>
      <li><a href="c.html">Albums</a></li>
      <li><a href="d.html">Emails</a></li>
    </ul>
  </div><!-- /navbar -->
</div><!-- /footer -->

</div><!-- /page -->

</body>
</html>