<!DOCTYPE html>
<html>
  <head>
  <title>Show</title>
<link rel="stylesheet" type="text/css" href="show.css">
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_api_key %>"></script>
<% if current_user and current_user.verified? %>
<script>
  leaveaddr = "<%=current_user.school.address %>"
  arriveaddr = "<%=@event.address %>"
  arrivetime = new Date("<%=@event.start_date_and_time %>")
</script>  
<% end %>
<%= javascript_include_tag "travel_times.js" %>
</head>
<body>

<div data-role="page">

  <div data-role="header">
    <h1>Show</h1>
  </div><!-- /header -->
  <div id="body">
    <div id = "name">
      <%= @event.name %>
    </div>
    <div id="location">
      <%="Location: " + @event.address %>
    </div>
    <div id="dt">
      <%="Date and time: " + @event.start_date_and_time.strftime("%A, %B %d, %Y %l%p") + " to " + (@event.start_date_and_time+@event.duration.hours).strftime("%l%p")%>
    </div>
    <div id="desc">
      <%="Description: " + @event.description %>
    </div>
    <%if current_user and  current_user.verified?%>
    <div id="user">
    </div>
    <div id="school">
      <% user_school = current_user.school %>
    </div>
    <div id="attendee">
    <%="Total number attending: " + @event.attendees.length.to_s %><br />
    <%="Number attending from your school: " + @event.attendees.where(school: user_school).length.to_s %>
    </div>
    <div id = "travel_times">
      <div id = "TRANSIT"></div>
      <div id = "BICYCLING"></div>
      <div id = "WALKING"></div>
    </div>
    <% if @in_nudge %>
      <%= "You have been nudged by #{@in_nudge.nudger.username}" %>
      <button>Let's Go (dummy)</button>
      <button>Let's Not (dummy)</button>
    <% elsif @out_nudge %>
      <%= "You have nudged #{@out_nudge.nudgee.username} and response is pending" %>
    <% elsif !@attend %>
        <div id="buttons">
          <form method="GET" action="/events/<%=params[:id]%>/store_user_commitment" data-ajax="false">
            <input type = "hidden" name = "commitment" value = "Yes" />
            <input type="submit" id="going" value="Join"></input>
          </form>
          <form method="GET" action="/events/<%=params[:id]%>/store_user_commitment" data-ajax="false">
            <input type = "hidden" name = "commitment" value = "Maybe" />
            <input type="submit" id="maybe" value="Watch"></input>
          </form>
          <form method="GET" action="/events/<%=params[:id]%>/nudge">
            <input type="submit" id="igiyg" value="Nudge"></input>
          </form>
        </div>
    <% elsif @attend.commitment_status == "Yes"%>
      <div id = "status">
       You are going to this event
      </div>
      <a href="<%="#{params[:id]}/attendances/#{@attend.id}"%>" data-ajax="false">Show Directions</a>
      <form method="POST" action="/events/<%=params[:id]%>/attendances/update"%>
        <input type = "hidden" name = "update_commit_status" value = "No" />
        <input type="submit" value="Back Out"></input>
      </form>
    <% elsif @attend.commitment_status == "No"%>
      <div id = "status">
        You backed out of this event
      </div>
      <a href ="<%="#{params[:id]}/attendances/#{@attend.id}"%>" data-ajax="false">Show Directions</a>
      <form method="POST" action="/events/<%=params[:id]%>/attendances/update"%>
        <input type = "hidden" name = "update_commit_status" value = "Yes" />
        <input type="submit" value="Commit"></input>
      </form>
    <% else %>
      <div id = "status">
        You might be going to this event
      </div>
      <a href ="<%="#{params[:id]}/attendances/#{@attend.id}"%>" data-ajax="false">Show Directions</a>
      <form method="POST" action="/events/<%=params[:id]%>/attendances/update"%>
        <input type = "hidden" name = "update_commit_status" value = "Yes" />
        <input type="submit" value="Commit"></input>
      </form>
      <form method="POST" action="/events/<%=params[:id]%>/attendances/update"%>
        <input type = "hidden" name = "update_commit_status" value = "No" />
        <input type="submit" value="Back Out"></input>
      </form>
    <% end %>
    <% else %>
    <div id = "login">
      Login or register to join this event
        <div id="form">
          <%= form_for :user, url: '/login', html: {id: "login_form"} do |f| %>

          <%= f.label :username %>
          <%= f.text_field :username %>

          <%= f.label :password %>
          <%= f.password_field :password %>

          <%= f.submit "Log in", :class => "button" %>
        <% end %>
        <%= link_to 'Register', register_path, class: 'centered', "data-role" => "button" %>
      </div>
    </div>
    <%end%>

  </div><!-- body -->

  <!-- footer navigator -->
  <div data-role="footer" data-id="foo1" data-position="fixed">
  <div data-role="navbar">
    <ul>
        <li><%= link_to 'Back', :back %></li>
        <li><a href="/dashboard.html">Home</a></li>
        <li><%= link_to("Logout", logout_path, :method => :delete) %></li>
    </ul>
  </div><!-- /navbar -->
</div><!-- /footer -->

</div><!-- /page -->

</body>
</html>
