<%= form_for @service_provider, url: service_provider_path, html: { "data-ajax" => false } do |f| %>
  <% if @service_provider.errors.any? %>
    <div class="error">
      <p><%= pluralize(@service_provider.errors.count, "error") %> prevented your profile from being saved:</p>
      <ul>
      <% @service_provider.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.fields_for :user do |u| %>
    <%= u.label :email %>
    <%= u.text_field :email %>
    <%= u.label :phone %>
    <%= u.text_field :phone %>
    <%= u.label :password %>
    <%= u.password_field :password %>
    <%= u.label :password_confirmation %>
    <%= u.password_field :password_confirmation %>
    <%= u.hidden_field :time_zone %>
    <script>
    $('#user_time_zone').val(getTimeZone())
    </script>
    <% if @service_provider.new_record? %>
      <%= u.check_box :tos_accepted %>
      <%= u.label :tos_accepted, "I have read and accept the ".html_safe + link_to('Terms of Service and Privacy Policy', tos_path, target: "_blank") %>
    <% end %>
  <% end %>
  <%= f.submit "Submit" %>
<% end %>
