 <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

  <!-- jquery library -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>


  <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_api_key %>"></script>
  <script>
   /* jQuery.getJSON("/addresses.json",function(data){start = data.schoolAddress+", Chicago, IL";
      end = data.eventAddress+", Chicago, IL";
    });*/
    var directionsDisplay;
    var aspect_ratio = .4
    var directionsService = new google.maps.DirectionsService();
    var map;
    var start = "<%=current_user.school.address + ' Chicago, IL' %>";
    var end = "<%=@event.address + ' Chicago, IL'%>";
    var tmode = "walking";
    var startTime = new Date("<%=@event.start_date_and_time%>");
    var earlyTime = new Date(startTime.getTime()-15*60*1000);
    var lateTime = new Date(startTime.getTime()+15*60*1000);
    var arriveTimeArray = [earlyTime,startTime,lateTime];
    var leaveTime = {transit: [0,0,0], walking: [0,0,0], bicycling: [0,0,0]};
    var leaveTimeIndex = 1;
    var attendence = {
      transit: <%=@attend_hash[:transit]%>,
      walking: <%=@attend_hash[:walking]%>,
      bicycling: <%=@attend_hash[:bicycling]%>
    }
        function initialize() {
        directionsDisplay = new google.maps.DirectionsRenderer();
        $( "#map-canvas" ).height($( "#map-canvas" ).width()*aspect_ratio)
       // $( "#directions").height($( "#map-canvas" ).height()*1.06)
       // $( "#directions").width($("#map-canvas").width()*.2)
        //$( "#map-canvas" ).width($( "#map-canvas" ).width())
        //$( "#map-canvas").offset({left:$( "#map-canvas").offset().left + $("#map-canvas").width()*.25, top:$( "#map-canvas").offset().top})
       // $( "#directions").offset({left:$( "#directions").offset().left, top: $("#map").position().top})
        $("#buttons").offset({left:$( "#buttons").offset().left, top:$( "#buttons").offset().top - $ ("#directions").height()})
        $("span").offset(function(i,o){return({left:o.left+25,top: o.top-10})})
        var chicago = new google.maps.LatLng(41.850033, -87.6500523);
        var mapOptions = {
        zoom: 10,
        center: chicago
     }
     map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
     directionsDisplay.setMap(map);
     calcTime();
     directionsDisplay.setPanel(document.getElementById("directions"));
   }
    function calcRoute(mode,arriveDate) {
      var request = {
        origin:start,
        destination:end,
        travelMode: mode,
        transitOptions:{arrivalTime: arriveDate}
      };
      directionsService.route(request, function(result, status) {
        if (status == google.maps.DirectionsStatus.OK) {
           directionsDisplay.setDirections(result);
         }
      });
    }
    function calcTime(){
       var request = {
        origin: start,
        destination: end,
        travelMode: google.maps.TravelMode.WALKING
      };
      directionsService.route(request, function(result, status) {
        if (status == google.maps.DirectionsStatus.OK) {
           time = result.routes[0].legs[0].duration.value;
           for (var i = 0; i < 3; i++) {
             leaveTime.walking[i] = new Date(arriveTimeArray[i].getTime()-time*1000);
           };
         }
      });
      var request = {
        origin:start,
        destination:end,
        travelMode:google.maps.TravelMode.BICYCLING
      };
      directionsService.route(request, function(result, status) {
        if (status == google.maps.DirectionsStatus.OK) {
           time = result.routes[0].legs[0].duration.value;
           for (var j = 0; j < 3; j++) {
             leaveTime.bicycling[j] = new Date(arriveTimeArray[j].getTime()-time*1000);
           };
         }
      });
      var l = 0
      for (var k = 0; k < 3; k++) {
        var request = {
          origin:start,
          destination:end,
          travelMode:google.maps.TravelMode.TRANSIT,
          transitOptions: {arrivalTime: arriveTimeArray[k]}
        };
        directionsService.route(request, function(result, status) {
         if (status == google.maps.DirectionsStatus.OK) {
             leaveTime.transit[l] = result.routes[0].legs[0].departure_time.value;
             l++;
             if (l ==3){
              leaveTime.transit.sort(function(a,b){return a.getTime()-b.getTime()})
             }
         }
       })
      }
      document.getElementById("transit").innerHTML = (attendence.transit[0]+attendence.transit[1]+attendence.transit[2])+" people taking the CTA";
      document.getElementById("walking").innerHTML = (attendence.walking[0]+attendence.walking[1]+attendence.walking[2])+" people walking";
      document.getElementById("bicycling").innerHTML = (attendence.bicycling[0]+attendence.bicycling[1]+attendence.bicycling[2])+" people bycling";
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    function transitChange(mode){
      tmode = mode;
      if (mode == 'walking'){
        gmMode = google.maps.TravelMode.WALKING;
      }
      else if (mode == 'transit'){
        gmMode = google.maps.TravelMode.TRANSIT;
      }
      else{
        gmMode = google.maps.TravelMode.BICYCLING;
      }
      updateDisplay()
      calcRoute(gmMode,arriveTimeArray[leaveTimeIndex]);
    }
    function timeChange(index){
      leaveTimeIndex = index;
      updateDisplay()
      if (tmode == "transit"){
        calcRoute(google.maps.TravelMode.TRANSIT,arriveTimeArray[index]);
      }
    }
    function  printMin(min){
      if (min > 9){
        return min.toString();
      }
      else{
        return "0"+min.toString();
      }
    }
    function updateDisplay (){
      document.getElementById("time_selections").hidden = false
      document.getElementById("method_of_transit").value = tmode;
      document.getElementById("early-time").innerHTML = attendence[tmode][0]+" people are leaving early<br />Leave at: "+leaveTime[tmode][0].getHours()+":"+printMin(leaveTime[tmode][0].getMinutes());
      document.getElementById("ontime-time").innerHTML = attendence[tmode][1]+" people are leaving on time<br />Leave at: "+leaveTime[tmode][1].getHours()+":"+printMin(leaveTime[tmode][1].getMinutes());
      document.getElementById("late-time").innerHTML = attendence[tmode][2]+" people are leaving late<br />Leave at: "+leaveTime[tmode][2].getHours()+":"+printMin(leaveTime[tmode][2].getMinutes());
      document.getElementById("departure_type").value = $("input[name='departuretype']:checked").val()
    }
</script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
  $(function() {
    $( "#radio" ).buttonset();
  });
  </script>
</head>
<body>

  <div data-role="page">

    <div data-role="header">
     <h1>Map</h1>
    </div><!-- /header -->
    <div role = "main" id = "main">
      <div id = "map">
      <div class="ui-content" id="map-canvas">
        <!-- map loads here... -->
      </div>
    <form>
      <div id  = "buttons">
        <h4>Choose your transportation option:</h4>

        <input type="radio" id="radio1" name="method" value="transit" onclick="transitChange('transit')"><label for="radio1"><img style="padding: 0px 10px 0px 5px;" height="30" width="30"src="https://703776390ca6a57878ac07d8581c71c708895809.googledrive.com/host/0B-EZWDUirQ46fjQtUzN1VG80eWdzdERtYjMzcTg3S19VeGlWR3FfUGJpOEFEZmtVQmh4SFk/Assets/Icons/transit.png">
        <span id = "transit">CTA</span></label>
        <input type="radio" id="radio2" name="method" value="walking" onclick="transitChange('walking')"><label for="radio2"><img style="padding: 0px 10px 0px 5px;" height="30" width="30"src="https://703776390ca6a57878ac07d8581c71c708895809.googledrive.com/host/0B-EZWDUirQ46fjQtUzN1VG80eWdzdERtYjMzcTg3S19VeGlWR3FfUGJpOEFEZmtVQmh4SFk/Assets/Icons/walking.png"><span id = "walking">Walking</span></label>
        <input type="radio" id="radio3" name="method" value="bicycling" onclick="transitChange('bicycling')"><label for="radio3"><img style="padding: 0px 10px 0px 5px;" height="30" width="30"src="https://703776390ca6a57878ac07d8581c71c708895809.googledrive.com/host/0B-EZWDUirQ46fjQtUzN1VG80eWdzdERtYjMzcTg3S19VeGlWR3FfUGJpOEFEZmtVQmh4SFk/Assets/Icons/biking.png"><span id = "bicycling">Bicycling</span></label>
<!--
    <input type = "radio" id = "transit" name = "method" value = 'transit' onclick = "transitChange('transit')"/> CTA
    <input type = "radio"  id = "walking" name = "method" value = "walking" onclick = "transitChange('walking')" /> Walking
    <input type = "radio" id = "bicycling" name ="method" value = "bicycling" onclick = "transitChange('bicycling')" /> Biking
 -->  <div id ="time_selections" hidden>
    <h4>Choose your departure time:</h4>
    <input type = "radio" id = "early" name = "departure_type" value = "Early" onclick="timeChange(0)" />
    <label for="early"><span id = "early-time"></span></label>
    <input type = "radio" id = "onTime" name = "departure_type" value = "On Time" onclick="timeChange(1)" /><label for="onTime"><span id = "ontime-time"></span></label>
    <input type ="radio" id = "late" name = "departure_type" value = "Late" onclick="timeChange(2)" />
    <label for="late"><span id = "late-time"></span></label>

  </div>
  </form>
