<div>
  <%= render "map" %>
  <div id = "selection_form" hidden> 
  <%= form_tag(event_attendance_path(@event, @attendance), method: "patch") do %>
    <%= hidden_field_tag(:commitment_status, "Yes") %>
    <%= hidden_field_tag(:method_of_transit) %>
    <%= hidden_field_tag(:departure_type)%>
    <%= hidden_field_tag(:departure_location)%>
    <%= submit_tag("Let's Go!") %>
  <% end %>
</div>
</div>
<div data-role="footer" id="footer" data-position="fixed">
  <%= render "shared/navbar" %>
</div><!-- /footer -->
