<!DOCTYPE html>
<html>
  <head>
  <title>My Page</title>

 <%= render "map" %>
    <%= form_tag(event_attendance_path(@event, @attendance), method: "patch") do %>
    <%= hidden_field_tag(:commitment_status, "Yes") %>
    <%= hidden_field_tag(:method_of_transit) %>
    <%= hidden_field_tag(:departure_type)%>
    <%= submit_tag("Let's Go!") %>
  <% end %>
</div>
</div>
  <div data-role="footer" id="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Back', :back %></li>
        <li><a href="/dashboard.html">Home</a></li>
        <li><%= link_to("Logout", logout_path, :method => :delete) %></li>
    </ul>
  </div><!-- /navbar -->
</div><!-- /footer -->
  </div><!-- /page -->

</body>
</html>
