<div>
  <%= render "map" %>
  <%= form_tag(event_attendances_path(@event), method: "post") do %>
    <%= hidden_field_tag(:commitment_status, "Yes") %>
    <%= hidden_field_tag(:method_of_transit) %>
    <%= hidden_field_tag(:departure_type)%>
    <%= submit_tag("Let's Go!") %>
  <% end %>
</div>
<div data-role="footer" id="footer" data-position="fixed">
  <%= render "shared/navbar" %>
</div><!-- /page -->
